.containerQuestions {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  padding: 10px;
  border-radius: 10px;
  height: 70%;
  font-size: 12px;
}

.containerQuestions h3 {
  margin-top: 35px;
}

.containerQuestions .contentQuestions {
  padding: 15px;
}

.containerQuestions .contentAnswers {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.containerQuestions .contentAnswers > div {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.containerQuestions .contentAnswers > div label {
  margin-left: 10px;
}

.containerQuestions .contentAnswers div + div {
  margin-top: 20px;
}

.containerQuestions .buttonsQuestions {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerQuestions .buttonsQuestions button {
  margin: 0 20px;
  height: 40px;
  width: 15%;
  border-radius: 10px;
  outline: 0;
  color: var(--white);
  border: 0;
  transition: opacity 0.2s;
}

.containerQuestions .buttonsQuestions button:hover {
  opacity: 0.8;
}
