.containerSubStage {
  background-color: var(--white);
  height: 100%;
  width: 100%;
  border-radius: 10px;
  /* padding: 10px; */
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.containerSubStage .contentSubStage {
  background-color: var(--white);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  padding: 20px;
  outline: hidden;
  border: none;
  transform: opacity 0.2s;
}

.contentSubStage:hover {
  opacity: 0.9;
}

.containerSubStage .contentSubStage .leftSubStage {
  display: flex;
  align-items: center;
}

.containerSubStage .contentSubStage .leftSubStage h1 {
  margin-left: 30px;
}
