.containerBar {
  background-color: var(--red);
  padding: 40px;
  border-radius: 10px;
  width: 85%;
  position: fixed;
  top: 30px;
  right: 30px;
}

.containerBar .contentBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
}

.containerBar .contentBar h1 {
  font-size: xx-large;
}
