.containerRanking {
  width: 1280px;
  margin: 0 auto;
  padding: 20px;
  justify-content: center;
  background-color: var(--background);
}

.containerRanking .containerRankingSelect {
  /* background-color: chartreuse; */
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  height: 6vh;
  border-radius: 10px;
}

.containerRanking .containerRankingSelect select {
  background-color: var(--green-soft);
  border-radius: 10px;
  padding: 10px;
  width: 76vh;
  font-size: x-large;
  color: var(--white);
  font: 200 14px "Press Start 2P", sans-serif;
}
