.containerSidebar {
  background-color: darkgoldenrod;
  height: 100vh;
  width: 200px;
  left: -90px;
  position: fixed;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}

.containerSidebar .contentSidebar {
  background-color: var(--blue-soft);
  height: 100vh;
  width: 110px;
  left: 0px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.containerSidebar .contentSidebar .logoSidebar {
  background-color: var(--red);
  height: 60px;
  width: 100%;
  padding: 10px;
  display: flex;
}

.containerSidebar .contentSidebar .linksSidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.containerSidebar .contentSidebar .linksTop {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerSidebar .contentSidebar .linksBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.containerSidebar .contentSidebar .logoSidebar img {
  width: 10vh;
}

.containerSidebar .contentSidebar .svgSelect {
  padding: 10px;
  background-color: #4646468e;
  border-radius: 10px;
  transition: background-color 0.2s;
}

.containerSidebar .contentSidebar .svgSelect:hover {
  padding: 10px;
  background-color: #46464600;
  border-radius: 10px;
}

.containerSidebar .contentSidebar svg {
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
  transition: background-color 0.2s;
}

.containerSidebar .contentSidebar svg:hover {
  background-color: #4646468e;
}
